@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-urbanist text-gray-900
    }

    nav {
        @apply  px-6 sm:px-10 lg:px-40 max-w-screen-2xl mx-auto
    }

    section {
        @apply px-6 sm:px-10 lg:px-40 py-20 max-w-screen-2xl mx-auto
    }

    h1 {
        @apply font-bold text-4xl lg:text-5xl text-primary leading-snug lg:leading-snug mb-5
    }

    h2 {
        @apply font-bold text-3xl lg:text-4xl text-secondary leading-snug lg:leading-snug mb-16
    }

    h3 {
        @apply font-bold text-xl lg:text-2xl text-secondary leading-snug lg:leading-snug mb-4
    }

    p {
        @apply leading-relaxed text-[#4A4A68]
    }

    label {
        @apply block font-semibold mb-2
    }

    input {
        @apply bg-[#F8F8F9] w-full px-4 py-2 border-2 border-[#ECF1F4] rounded-lg focus:bg-white focus:outline-none
    }

    textarea {
        @apply bg-[#F8F8F9] w-full px-4 py-2 border-2 border-[#ECF1F4] rounded-lg focus:bg-white focus:outline-none
    }
}

@layer components {
    .active {
        @apply font-bold text-primary
    }

    .partner-logo {
        @apply w-auto h-6 lg:h-8
    }

    .sosial-media-icon {
        @apply h-6
    }

    .faq {
        @apply bg-white border border-[#E7EEFE] rounded-lg
    }

    .faq .accordion {
        @apply flex items-center justify-between p-5 cursor-pointer
    }

    .menu {
        @apply max-h-0 lg:max-h-max overflow-hidden;
        transition: max-height 0.3s ease-in-out
    }

    .faq .panel {
        @apply max-h-0 overflow-hidden border-t border-tertiary;
        transition: max-height 0.3s ease-in-out
    }

    .btn-primary {
        @apply bg-primary font-semibold text-white px-5 py-3 rounded-lg
    }

    .btn-light {
        @apply font-semibold text-primary px-5 py-3 rounded-lg
    }

    .label-required {
        @apply text-[#F44336]
    }

    .plan-card {
        @apply lg:w-[22rem] bg-gradient-to-b to-tertiary border-2 border-tertiary pt-2 rounded-2xl
    }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
